# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Project Specific
experiments/results/
experiments/checkpoints/

# OS Specific
.DS_Store
Thumbs.db
